.searchBarContainer {
  display: flex;
  gap: 1.6rem;
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  width: 50%;
}

.searchIcon {
  width: 2.4rem;
  height: 2.4rem;
}

.searchInput {
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  outline: none;
  width: 100%;
}

@media (max-width: 768px) {
  .searchBarContainer {
    gap: 0.5rem;
    padding: 0.8rem;
    max-width: 100%;
    align-items: center;
  }

  .searchIcon {
    width: 2.2rem;
    height: 2.2rem;
  }

  .searchInput {
    padding: 0;
    line-height: 100%;
  }
}
